.container{
    display: flex;
    /* flex-direction: column; */
    height: 400px;
    width: 200px;
    border: 2px solid green;
    margin: 5px;
    padding: 10px;
    flex-wrap: wrap;
    
    /* flex-wrap: wrap; */
    
    
    
   
}
.item{
   border: 1px solid black;
    
    padding: 10px;
    margin: 10px;
    

}

.item-font{
    font-size: 15px;
}