* {
  margin: 0px;
  font-size: 18px;
}

.main {
  width: 75%;
  height: 100%;
  margin: 20px auto 0 auto;
}

.childre {
  flex: 1;
}

h3 {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 10px;
}
h4 {
  font-size: 25px;
  font-weight: 100;
  margin-bottom: 10px;
  color: rgb(101, 11, 185);
}

h2 {
  font-size: 50px;
  font-weight: 100;
  color: green;
  margin-bottom: 10px;
}
p {
  margin: 10px 0 10px 0;
}
