* {
  margin: 0px;
  font-size: 18px;
}

.main {
  width: 75%;
  height: 100%;
  margin: 20px auto 0 auto;
}

.childre {
  flex: 1;
}

h3 {
  font-size: 35px;
  font-weight: 100;
  margin-bottom: 10px;
}

h2 {
  font-size: 50px;
  font-weight: 100;
  color: green;
  margin-bottom: 10px;
}
p {
  margin-bottom: 20px 0 20px 0;
}
